body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header_name {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}
.header_name2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: #ffffff;
}
.header_name3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

.link_name {
    color: aquamarine;
    font-size: 16px;
}
.link_namefooter {
    color: gray;
    font-size: 21px;
    text-align: right;
}